{
  "botToken": "your-bot-token",
  "selfbot":"false",
  "ownerid" : "your-user-id",
  "clientID": "your-bot-client-id",
  "prefix": "?",
  "functions": ["points"],
  "commandInhibitors": ["disable", "permissions", "missingBotPermissions"],
  "databaseModules": ["localStorage"]
}
